<h2 class="text-center">Jobs and Internships</h2>
<h3><br/>Timeline</h3>
<div class="table-responsive">
  <table class="table table-dark table-bordered table-condensed table-sm m-0 timeline" id="jobs">
    <thead>
    <tr>
      <th scope="col" style="width: 175px"></th>
      <th scope="colgroup" colspan="28">Year</th>
    </tr>
    <tr>
      <th scope="col">Type of education</th>
      <th scope="col" colspan="4">2014</th>
      <th scope="col" colspan="4">2015</th>
      <th scope="col" colspan="4">2016</th>
      <th scope="col" colspan="4">2017</th>
      <th scope="col" colspan="4">2018</th>
      <th scope="col" colspan="4">2019</th>
      <th scope="col" colspan="4">2020</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Jobs - unrelated</th>
      <td colspan="12" class="bg-primary text-center">Doing dishes in a local restaurant called "Picknickers"</td>
      <td colspan="6"></td>
      <td class="bg-primary text-center">Doing dishes in a local restaurant called "Oeds"</td>
      <td colspan="9"></td>
    </tr>
    <tr>
      <th scope="row">Jobs - related</th>
      <td colspan="18"></td>
      <td class="bg-success text-center text-black">Creating a website through "Lumen"</td>
      <td class="bg-success text-center text-black">Being a student assistant at my study.</td>
      <td colspan="2"></td>
      <td class="bg-success text-center text-black">Creating a game with pygame.</td>
      <td colspan="5"></td>
    </tr>
    <tr>
      <th scope="row">Internships</th>
      <td colspan="23"></td>
      <td colspan="2" class="bg-warning text-center text-black">Internship KU Leuven, web-interface development</td>
      <td colspan="2" class="bg-warning text-center text-black">Graduation Internship, Wageningen University, bionano pipeline optimization</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>

<h3><br/>Descriptions</h3>
<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs responsive">
      <li><a class="active" href="#related" data-toggle="tab">  Jobs - related  </a>
      </li>
      <li><a href="#internships" data-toggle="tab">  Internships  </a>
      </li>
      <li><a href="#unrelated" data-toggle="tab">  Jobs - unrelated  </a>
      </li>
    </ul>
    <div class="tab-content responsive">
      <div class="tab-pane fade in active show" id="related">
        <p>
          I have always looked for small jobs I could do with my computer science skills.
          I made a dutch website for a company called "lumen".
          From that project I learned how to work with Bootstrap and scss files.
        </p>
        <p>
          I was a student assistant for one term in the minor class.
          This meant that I had to help students with their practical assignments
          during the practical lessons and in return I got two credits for my honours program.
        </p>
        <p>
          My last semi-related job was creating a game for the company of my mother.
          I didn't have any experience with creating games, but after I read a lot online I could make a game quite easily.
          I chose to do this in python, because this is the language I'm most familiar with, but in hindsight
          I should have gone with Java, because now they couldn't implement it in their commercial website.
          To see the code and play the game, go to <a href="https://repl.it/@Wendyvan1/wettergame" target="_blank">Repl.it</a>.
        </p>
      </div>
      <div class="tab-pane fade in" id="internships">
        <p>During the last year of my bachelor I had to do two internships.
          From september the first 2019 until the end of January 2020, the first internship took place.
          I worked on creating a web application with Java (and jsp pages), JavaScript, HTML and CSS
          for the Neuroscience department of the KU Leuven with which they can access their database easily.
          The web-app consists of two parts: one where they can request patient actions from their database and then it will be visualized and the researchers can score the patients performance
          and one where they can request statistical plots with the scores already in the database, so patient progress can be tracked.
          Next to that, several reports were written. Like about safety procedures to keep in mind and about the project itself.
          At the end, a poster presentation needs to be done.
        </p>
        <p>Then in the second halve of the school year I had to do another internship,
          This time as a graduation project. This one was in Wageningen, The Netherlands,
          in which I had to create a quality report for bionano material and from that report,
          give an advice about how to best run an assembly. After the practical work,
          the project was finished with a presentation and defence.</p>
      </div>
      <div class="tab-pane fade in" id="unrelated">
        <p>
          My first job was doing the dishes in a very small (but very busy) restaurant in my village.
          I learned quite a lot from this, even though it's completely unrelated to my study field.
          For example, I learned what it is like to perform under a lot of pressure and what it is like for a lot of people to depend on you.
          These were valuable life lessons and it changed me in a way I couldn't predict beforehand.
          I learned the value of a fun job compared to money, because it doesn't pay a lot and it is heavy work, but it was fun and that's what counts.
        </p>
      </div>
    </div>
  </div>
  <div class="panel-footer"></div>
</div>
