<div class="container">
  <h1 class="header">CV Wendy van der Meulen</h1>
  <div>
    <img class="img-fluid mobiel_menu" src="assets/images/menu_button.png" alt="Menu" (click)="make_menu_visible()" />
  </div>
  <div id="cssmenu" class="align-center" #menu>
    <ul>
      <li>
        <a href="#" id="home_c">Home</a>
      </li>
      <li>
        <a href="#" [routerLink]="'hobbies'" id="hobbies_c">Hobbies and interests</a>
      </li>
      <li class="has-sub">
        <a href="#" [routerLink]="'school'" id="school_c">Schooling</a>
        <ul>
          <li>
            <a href="http://cv.wendyvandermeulen.com/honours/index.html" target="_blank">Honours program Bachelor (opens in new tab)</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" [routerLink]="'jobs'" id="jobs_c">Jobs and internships</a>
      </li>
      <li>
        <a href="#">Skills</a>
      </li>
      <li>
        <a href="#" [routerLink]="'projects'" id="projects_c">Projects</a>
      </li>
    </ul>
  </div>
  <div id="mobiel_menu" #mobile>
    <ul class="hidden">
      <li>
        <a href="#" id="home_m">Home</a>
      </li>
      <li>
        <a href="#" [routerLink]="'hobbies'" id="hobbies_m">Hobbies and interests</a>
      </li>
      <li>
        <a href="#" [routerLink]="'school'" id="school_m">Schooling</a>
      </li>
      <li>
        <a href="#" [routerLink]="'jobs'" id="jobs_m">Jobs and internships</a>
      </li>
      <li>
        <a href="#">Skills</a>
      </li>
      <li>
        <a href="#" [routerLink]="'projects'" id="projects_m">Projects</a>
      </li>
    </ul>
  </div>
</div>
