<h1 class="text-center py-4 mb-4 header">
  <span class="opacity-75">CV Wendy van der Meulen</span>
</h1>

<div class="container-lg">
  <div>
    <img class="img-fluid d-block d-md-none" src="assets/images/menu_button.png" alt="Menu" (click)="mobileMenuOpen = !mobileMenuOpen" />
  </div>
  <div id="cssmenu" class="text-center mb-3 d-none d-md-block">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'home'" [routerLinkActive]="'active'" id="home_c">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'hobbies'" [routerLinkActive]="'active'" id="hobbies_c">Hobbies and interests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'school'" [routerLinkActive]="'active'" id="school_c">Schooling</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'jobs'" [routerLinkActive]="'active'" id="jobs_c">Jobs and internships</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'skills'" [routerLinkActive]="'active'" id="skills_c">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'projects'" [routerLinkActive]="'active'" id="projects_c">Projects</a>
      </li>
    </ul>
  </div>
  <div id="mobiel_menu">
    <ul class="mb-3" [class]="mobileMenuOpen ? 'd-block' : 'd-none'">
      <li>
        <a [routerLink]="'home'" [routerLinkActive]="'active'" id="home_m">Home</a>
      </li>
      <li>
        <a [routerLink]="'hobbies'" [routerLinkActive]="'active'" id="hobbies_m">Hobbies and interests</a>
      </li>
      <li>
        <a [routerLink]="'school'" [routerLinkActive]="'active'" id="school_m">Schooling</a>
      </li>
      <li>
        <a [routerLink]="'jobs'" [routerLinkActive]="'active'" id="jobs_m">Jobs and internships</a>
      </li>
      <li>
        <a [routerLink]="'skills'" [routerLinkActive]="'active'" id="skills_m">Skills</a>
      </li>
      <li>
        <a [routerLink]="'projects'" [routerLinkActive]="'active'" id="projects_m">Projects</a>
      </li>
    </ul>
  </div>
</div>
