<div class="row">
  <div class="col-sm-9">
    <h3 class="text-center"><strong>Hi, I'm Wendy, nice to meet you!</strong><br/><br/></h3>
    <p><strong>On this website you can find information about who I am, what kind of projects I have done and what I have achieved academically.
      For a brief overview of who I am, see below. If you want to know more about me, look at the hobbies and interests page.
      If you are looking at this website because I provided it with a job interview,
      you can find anything related to jobs, schooling, skills and projects on the respective tabs.
      For my ambitions and interests, look at the hobbies and ambitions page.<br/>
      For an overview of the courses and certifications I have, you can look at my linkedin, which is linked in the footer.</strong></p>
    <p>I find space(travel) very interesting.
      I had my own website about space, but I couldn't afford the web hosting anymore when I went of to college,
      so it doesn't exist anymore. I love working with computers and I'm a huge daredevil.
      When I was twelve, I made a tandem jump and on January the first 2016, I went bungee jumping.
      In may 2017 I did a course on skydiving and I did a jump on my own afterwards.
      I'm very demanding towards myself and that's why I did everything in my power to get my
      propaedeutic year of my bachelor cum laude and to get into the honours program of my school and I succeeded in both!
      I love music, to which I listen between 8 and 12 hours a day. I also play the piano and sing with that.
      I like wall climbing and skiing and my life motto is "Always be yourself and only change if you want to change!"</p>
  </div>
  <div class="col-sm-3" id="index_pics">
    <app-photo-display />
  </div>
</div>
