<td>
    @switch (skill.origin) {
      @case ('hon') {
        <img class="img img-fluid"
          src="assets/images/honours_logo.png"
          alt="honours logo">
          <p class="hidden">honours</p>
      }
      @case ('bach') {
        <img class="img img-fluid"
          src="assets/images/Hanze-Logo.png"
          alt="Hanze logo">
          <p class="hidden">bachelor hanze</p>
      }
      @case ('prof') {
        <img class="img img-fluid"
          src="assets/images/prof-logo.png"
          alt="professional logo">
          <p class="hidden">professional</p>
      }
    }
  </td>
<td class="bg-{{skill.level}}">
  <p class="hidden">
    @switch (skill.level) {
      @case ('middle1') {
        beginner
        intermediate
      }
      @case ('middle2') {
        intermediate
        advanced
      }
      @default {
        {{ skill.level }}
      }
    }
  </p>
</td>
<td>
  @if (skill.type === 'hard') {
    <p class="text-center">
      H
      <span class="hidden">hard</span>
    </p>
  } @else if (skill.type === 'soft') {
    <p class="text-center">
      S
      <span class="hidden">soft</span>
    </p>
  }
</td>
<td>
  {{ skill.name }}
</td>
<td>
  @if (skill.info.length > 0) {
    <p>
      @for (link of skill.info; track link) {
        {{ link.before }}
        <a href="{{ link.src }}" target="_blank">{{ link.text }}</a>
        {{ link.after }}<br/>
      }
    </p>
  }
</td>
