<td>
  @switch (skill.origin) {
    @case (OriginEnum.Honours) {
      <img class="img img-fluid"
           src="assets/images/honours_logo.png"
           alt="honours logo">
    }
    @case (OriginEnum.Bachelor) {
      <img class="img img-fluid"
           src="assets/images/Hanze-Logo.png"
           alt="Hanze logo">
    }
    @case (OriginEnum.Professional) {
      <img class="img img-fluid"
           src="assets/images/prof-logo.png"
           alt="professional logo">
    }
  }
</td>
<td class="bg-{{skill.level}} text-bg-{{skill.level}}">
  @switch (skill.level) {
    @case (SkillLevel.BEGINNER_INTERMEDIATE) {
      beginner / intermediate
    }
    @case (SkillLevel.INTERMEDIATE_ADVANCED) {
      intermediate / advanced
    }
    @default {
      {{ skill.level }}
    }
  }
</td>
<td>
  @if (skill.type === SkillType.HARD) {
    <p class="text-center">
      H
    </p>
  } @else if (skill.type === SkillType.SOFT) {
    <p class="text-center">
      S
    </p>
  }
</td>
<td>
  {{ skill.name }}
</td>
<td>
  @if (skill.info.length > 0) {
    <p>
      @for (link of skill.info; track link) {
        {{ link.before }}
        <a href="{{ link.src }}" target="_blank">{{ link.text }}</a>
        {{ link.after }}<br/>
      }
    </p>
  }
</td>
