<div class="project">
  <div class="row">
    <div class="col">
      <h3>{{this.project.title}}</h3>
    </div>
  </div>
  <ul class="nav nav-tabs responsive">
    <li><a href="#description_{{this.project.id}}" class="active" data-toggle="tab"> Description </a>
    </li>
    <li><a href="#links_{{this.project.id}}" data-toggle="tab"> Links and proof </a>
    </li>
    <li><a href="#skills_{{this.project.id}}" data-toggle="tab"> Skills practiced </a>
    </li>
  </ul>
  <div class="tab-content responsive">
    <div class="tab-pane fade in active show" id="description_{{this.project.id}}">
      <p>{{this.project.description}}</p>
    </div>
    <div class="tab-pane fade in" id="links_{{this.project.id}}">
      <p *ngFor="let link of project.links">
        {{link["before"]}}
        <a href="{{link['src']}}" target="_blank">{{link["text"]}}</a>
        {{link["after"]}}
      </p>
    </div>
    <div class="tab-pane fade in" id="skills_{{this.project.id}}">
      <p>From this project I learned the following skills or practiced them further:</p>
      <ul>
        <li *ngFor="let skill of this.project.skills">{{skill}}</li>
      </ul>
    </div>
  </div>
</div>
