.accordion {
  --bs-accordion-btn-bg: var(--hover-bg-color);
  --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
  --bs-accordion-btn-color: var(--bs-secondary);
  --bs-accordion-active-color: var(--bs-secondary);
  --bs-accordion-active-bg: var(--bs-primary);
}
