<h2 class="text-center">Skills</h2>
<p>Here a table with all the skills that I acquired through the years.
If I learned them through my honours program, the honours logo is displayed in the front of the table.</p>
<div class="table-responsive">
  <table class="table table-bordered table-active">
  <thead>
    <tr>
      <th colspan="5">level legend</th>
    </tr>
    <tr>
      <th>Beginner</th>
      <th>Beginner / intermediate</th>
      <th>Intermediate</th>
      <th>Intermediate / advanced</th>
      <th>Advanced</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="bg-beginner"></td>
      <td class="bg-middle1"></td>
      <td class="bg-intermediate"></td>
      <td class="bg-middle2"></td>
      <td class="bg-advanced"></td>
    </tr>
  </tbody>
</table>
</div>

<div id="skill_filters" class="row">
  <div class="col-md">
    <h3>Origin</h3>
    <label><input name="filter_origin" type="checkbox" (input)="toggleOriginFilter(OriginEnum.Bachelor)"> Bachelor</label><br/>
    <label><input name="filter_origin" type="checkbox" (input)="toggleOriginFilter(OriginEnum.Honours)"> Honours program</label><br/>
    <label><input name="filter_origin" type="checkbox" (input)="toggleOriginFilter(OriginEnum.Professional)"> Working live</label><br/>
  </div>
  <div class="col-md">
    <h3>Level</h3>
    <label><input name="filter_level" type="checkbox" (input)="toggleLevelFilter(SkillLevel.BEGINNER)"> Beginner</label><br/>
    <label><input name="filter_level" type="checkbox" (input)="toggleLevelFilter(SkillLevel.BEGINNER_INTERMEDIATE)"> Beginner / intermediate</label><br/>
    <label><input name="filter_level" type="checkbox" (input)="toggleLevelFilter(SkillLevel.INTERMEDIATE)"> Intermediate</label><br/>
    <label><input name="filter_level" type="checkbox" (input)="toggleLevelFilter(SkillLevel.INTERMEDIATE_ADVANCED)"> Intermediate / Advanced</label><br/>
    <label><input name="filter_level" type="checkbox" (input)="toggleLevelFilter(SkillLevel.ADVANCED)"> Advanced </label><br/>
  </div>
  <div class="col-md">
    <h3>Type</h3>
    <label><input name="filter_type" type="checkbox" (input)="toggleTypeFilter(SkillType.HARD)"> Hard skills</label><br/>
    <label><input name="filter_type" type="checkbox" (input)="toggleTypeFilter(SkillType.SOFT)"> Soft skills</label><br/>
  </div>
</div>
<br/>

<div class="table-responsive mt-2">
  <table class="table table-active table-bordered m-0">
  <thead>
    <tr>
      <th scope="col">Origin</th>
      <th scope="col">Level</th>
      <th scope="col">Type</th>
      <th scope="col" style="width: 40%">Skill</th>
      <th scope="col" style="width: 40%">Supportive information</th>
    </tr>
  </thead>
  <tbody>
    @if (visibleSkillsArray.length > 0) {
      @for (skill of visibleSkillsArray; track skill) {
        <tr skills-item [skill]="skill"></tr>
      }
    } @else {
      <tr>
        <td colspan="5">No results found with current filtering, change your filters to see results.</td>
      </tr>
    }
  </tbody>
</table>
</div>
