<h2 class="text-center">About me</h2>
<p><br/>   </p>
<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs responsive">
      <li><a href="#music" class="active" data-toggle="tab"> Music </a>
      </li>
      <li><a href="#tv" data-toggle="tab"> Movies and Series </a>
      </li>
      <li><a href="#Books" data-toggle="tab"> Books </a>
      </li>
      <li><a href="#Travel" data-toggle="tab"> Travels </a>
      </li>
      <li><a href="#Ambitions" data-toggle="tab"> Ambitions and interests </a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content responsive">
      <div class="tab-pane fade in active show" id="music">
        <p>Music is very important to me. I listen to a number of artists.<br/>
          My favorite artists are Nick&Simon and Poets of the Fall, but I really like P!nk too.<br/>
          I listen to a number of songs from the script, dream theater, threshold and Jan Smit too.<br/>
          I listen to european songcontest songs too and music from movies like camp rock and High School Musical.<br/>
          Last but not least, I listen to k-otic and some other random songs too.</p>
      </div>
      <div class="tab-pane fade in" id="tv">
        <p>I don't really watch all that many movies and series, but there are a view of them that I do like:<br/>
          I really like James Bond and I've seen all those movies. I also like music films like Camp Rock and High School Musical.<br/>
          I've seen all the Harry Potter movies and I love romantic movies like Twilight.<br/>
          I've also seen all the movies in the Marvel Cinematic Universe collection.
        <p>I barely watch any series, but there are two dutch series that I really love: Flikken Maastricht and Wie Is De Mol.<br/>
          I also follow the new series of Doctor Who and some fantasy series on Netflix like Shadowhunters, Lucifer and the Shannara Chronicles.</p>
      </div>
      <div class="tab-pane fade in" id="Books">
        <p>I love escaping into a book and I can often be found with my nose inside some romantic fantasy book when my workload allows it.<br/>
          I have an e-reader with a small 1000 books that I still need\want to read and every time I go on Goodreads or into a book store, more are added.<br/>
          Series I really loved are:</p>
        <ul>
          <li>Rangers apprentice series (John Flanagan) and spinoffs</li>
          <li>The mortal instruments series and spinoffs (Cassandra Clare)</li>
          <li>The Tiger Saga (Colleen Houck)</li>
          <li>The Divergent series (Veronica Roth)</li>
          <li>All the fantasy series Rick Riordan wrote (like Percy Jackson)</li>
          <li>The Doon series (Carey Corp, Lorie Langdon)</li>
          <li>The Fallen series (Lauren Kate)</li>
          <li>The Origin Mystery series (A.G. Riddle)</li>
          <li>The Elementals Series (Michelle Madows)</li>
          <li>Etcetera...</li>
        </ul>
      </div>
      <div class="tab-pane fade in" id="Travel">
        <p>I love to travel and I have visited many places and countries:</p>
        <div class="col-md-6">
          <ul>
            <li>Czech Republic</li>
            <li>Slovakia</li>
            <li>Germany</li>
            <li>Andorra</li>
            <li>France</li>
            <li>Egypt</li>
            <li>Crete (Greece)</li>
            <li>Italy</li>
            <li>England</li>
            <li>Ireland (Dublin)</li>
            <li>The Netherlands :p</li>
            <li>Tenerife (Canary Islands, Spain)</li>
            <li>Gran Canaria (Canary Islands, Spain)</li>
            <li>Portugal</li>
            <li>Bonaire (Netherlands Antilles)</li>
            <li>Sweden</li>
            <li>Belgium</li>
          </ul>
        </div>
        <div class="col-md-6">
          <p>But I want to (re)visit a lot more places, namely:</p>
          <div class="col-md-6">
            <ul>
              <li>Norway</li>
              <li>Finland</li>
              <li>Wales</li>
              <li>Canada</li>
              <li>NASA headquarters (Washington D.C.)</li>
              <li>Great Barri&euml;r Reef (Australia)</li>
              <li>Iceland</li>
              <li>Denmark</li>
              <li>Scotland</li>
              <li>new Zealand</li>
              <li>Brazil</li>
              <li>Madagascar</li>
              <li>South Africa</li>
              <li>Zambia</li>
              <li>Switzerland</li>
              <li>The Grand Canyon (USA)</li>
              <li>Niagara Falls (border Canada/US)</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li>Galway (Ireland)</li>
              <li>San Francisco (USA)</li>
              <li>The Thrill Walk (schiltorn, Switserland)</li>
              <li>Highest swing in the world (Queenstown, New Zealand)</li>
              <li>Saariselka/ Kakslauttanen igloos Finland</li>
              <li>Indonesia</li>
              <li>Thailand</li>
              <li>Sri lanka</li>
              <li>Fiji islands</li>
              <li>Greece</li>
              <li>Portugal</li>
              <li>Andorra</li>
              <li>Croatia</li>
              <li>Athena (Greece)</li>
              <li>Japan</li>
            </ul>
          </div>
        </div>
        <p>I love nature and most of the countries on my bucket list are because of that.<br/>
          Some have to do with my interest in space and some with my daredevil behaviour.<br/>
          The countries in the UK have to do with the fact that my mom always went there
          at the end of the boating season and brought back many good stories.</p>
      </div>
      <div class="tab-pane fade in" id="Ambitions">
        <p>I'm very ambitious and I always have been. I do everything in my power to further my skills and do my job thoroughly.
          I got my propadeautic year cum-laude and I have done an Honours program to
          further my soft skills and get some experience with managing a lot of time next to a full time bachelor.
          I also got experience with doing big projects for companies and managing group projects.</p>
        <p>I'm very interested in phylogenetics and microbiology and I think the genetics of plants is also fascinating.
          I like database management and creating (web)apps the best, but I also like modelling biological systems with R.</p>
      </div>
    </div>
  </div>
  <!-- /.panel-body -->
  <div class="panel-footer"></div>
</div>
