@charset "UTF-8";
@import url("font-awesome/ubuntu.css");
@import url("font-awesome/open-sans.css");

:root {
  --bs-primary: #666699;
  --bs-secondary: #B2E5E5;
  --bs-white: rgba(178,229,229, 0.23);
  --menu-border-color: #333366;
  --hover-bg-color: #9999CC;
}

body {
  background-color: #CCCCFF;  /*204,204,255*/
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 1em;
}

.nav {
  --bs-nav-link-color: var(--bs-secondary);
  --bs-nav-link-hover-color: var(--bs-secondary);
  --bs-nav-tabs-border-color: var(--menu-border-color);
  --bs-nav-tabs-link-hover-border-color: var(--menu-border-color);
  --bs-nav-tabs-link-active-color: var(--bs-primary);
  --bs-nav-tabs-link-active-bg: var(--bs-primary);
  --bs-nav-tabs-link-active-border-color: var(--menu-border-color);
}

.nav-tabs .nav-link:hover {
  background-color: var(--hover-bg-color);
}

.hidden {
  display: none;
}

a {
  color: #000;
}

.card {
  --bs-card-bg: var(--bs-white);
}

/*tables*/
table {
  text-align: left;
}

/*timelines*/
.timeline {
  table-layout: fixed;
}

#schooling {
  width: calc(8*200px + 25px);
}

#jobs {
  width: calc(15*120px + 55px);
}

.tab-content {
  padding-top: 20px;
}
