<div class="container-fluid footer">
  <div class="row m-0">
    <div class="col-6 pb-1">
      <a href="http://www.linkedin.com/in/wendy-van-der-meulen-86970b162" target="_blank">
        <img src="assets/images/LinkedinLogo.png" class="aanpassen" id="linkedin" alt="linkedin"/>
      </a>
    </div>
    <div class="col-6 pb-1">
      <a href="mailto:wendyvandermeulen@gmail.com">
        <img src="assets/images/GmailLogo.png" class="aanpassen" id="gmail" alt="gmail"/>
      </a>
    </div>
  </div>
</div>
